.botao {
    background-color: #407BB7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.botao:hover {
    color:whitesmoke;
}